apiVersion: apps/v1
kind: Deployment
metadata:
  name: localstack
  namespace: cloudctf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: localstack
  template:
    metadata:
      labels:
        app: localstack
    spec:
      containers:
      - name: localstack
        image: localstack/localstack
        ports:
        - containerPort: 4566
